# .clangd configuration file in project root
# Default setting for most files
CompileFlags:
  CompilationDatabase: "build/linux-clang"
  Remove: [-W*]
Diagnostics:
  Suppress: '*'
  ClangTidy:
    Remove: '*'
---
If:
  PathMatch: .*\.tpp$
Diagnostics:
  Suppress: '*'